.mt-5{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;

}
body {
  background: linear-gradient(135deg, rgb(121,120,120), #f0b851);
}
thead{
    background: #FFA500 /* linear-gradient(135deg, rgb(121,120,120), #f0b851);*/
}
table{
    margin-top: 6px;
}
td{
  background: white;
}
tr{
  background-color: #FFA500;
}
.search{
  margin-bottom: 2px;
  margin-left: 3px;

}