<app-navbar></app-navbar>
<div class="container1" style="background-image: url(assets/photos/p3.jpeg)">
    <form>
        <h1>CONTACTEZ-NOUS</h1>
        <input type="text" id="nom" placeholder="Nom" required>
        <input type="text" id="prenom" placeholder="Prenom" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="text" id="numero apogee" placeholder="Numero apogee" required>
        <h4>Votre message</h4>
        <textarea required></textarea>
        <input type="submit" value="Send" id="button">
    </form>
</div>