
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.container1{
    min-height: 90.95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(121,120,120), #f0b851);
}
    

.container1 form{
    width: 670px;
    height: 440px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    background-color: white;

}
.alert{
    margin:10px;
    width: 600px;
    height: 40px;
}
.container1 form h1{
    color: rgb(121,120,120);
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container1 form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #FFA500;
}

.container1 form input::placeholder{
    color: rgb(121,120,120);
}

.container1 form #lastName,
.container1 form #mobile{
    margin-left: 20px;
}

.container1 form h4{
    color: rgb(121,120,120);
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container1 form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #FFA500;
    color: black;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
     min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px; 
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container1 form #button{
    border: none;
    background: #FFA500;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container1 form #button:hover{
    opacity: 0.7;
    background-image: linear-gradient(to right, #FFA500  0%, rgb(121,120,120) 100%);
}/* Default styles */

/* Add your default styles here */

/* Media queries for different screen sizes */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
    .container-text h1 {
      font-size: 40px;
    }
    
    .description-photo {
      flex-direction: column;
      height: auto;
    }
    
    .desc {
      width: 100%;
      margin-top: 20px;
      font-size: 100%;
    }
    
    #list {
      margin-left: 0;
    }
    
    .follow {
      height: 10vh;
    }
  }
  
  /* Medium devices (between 576px and 992px) */
  @media (min-width: 576px) and (max-width: 992px) {
    .container-text h1 {
      font-size: 48px;
    }
    
    .description-photo {
      height: auto;
    }
    
    .desc {
      margin-top: 20px;
    }
    
    #list {
      margin-left: 0;
    }
    
    .follow {
      height: 10vh;
    }
  }
  
  /* Large devices (992px and above) */
  @media (min-width: 992px) {
    .container-text h1 {
      font-size: 56px;
    }
    
    /* Add any additional styles for larger screens here */
  }
  