<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau</title>
</head>
<body>
  <app-navbar2></app-navbar2>

    <main>
      <div class="card" style="padding: 30px;">
        <form [formGroup]="registerF" (ngSubmit)="register()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nom *</span>
              <input type="text" placeholder="Entrer votre nom" formControlName="nom" id="nom" name="nom">
              <small class="form-text text-muted" *ngIf="registerF.get('nom')?.touched && registerF.get('nom')?.invalid" style="color: red !important;">Nom est requis.</small>
            </div>
            <div class="input-box">
              <span class="details">Prénom *</span>
              <input type="text" placeholder="Entrer votre prénom" name="prenom" id="prenom" formControlName="prenom">
              <small class="form-text text-muted" *ngIf="registerF.get('prenom')?.touched && registerF.get('prenom')?.invalid" style="color: red !important;">Prénom est requis.</small>
            </div>
            <div class="input-box">
              <span class="details">Email *</span>
              <input type="email"  placeholder="Entrer votre email" name="email" id="email" formControlName="email"
              pattern="^[a-zA-Z0-9._%+-]+@\etu\.uae\.ac\.ma$">
            <small class="form-text text-muted" *ngIf="registerF.get('email')?.touched && registerF.get('email')?.invalid && !registerF.get('email')?.errors?.['pattern']" style="color: red !important;">Email est requis.</small>
            <small class="form-text text-muted" *ngIf="registerF.get('email')?.touched && registerF.get('email')?.errors?.['pattern']" style="color: red !important;">Email invalide.</small>
            </div>
            <div class="input-box">
              <span class="details">Numéro apogée *</span>
              <input type="number" placeholder="Entrer votre numéro apogée" name="num" id="num" formControlName="num" [class.is-invalid]="registerF.get('num')?.touched && registerF.get('num')?.errors?.sixDigits">
              <small class="form-text text-muted" *ngIf="registerF.get('num')?.touched && (registerF.get('num')?.errors?.huitDigits || registerF.get('num')?.invalid)" style="color: red !important;">Numéro apogée est requis.</small>
            </div>
            <div class="input-box">
              <span class="details">Mot de passe *</span>
              <input type="password" placeholder="Entrer votre mot de passe" name="motdepasse" id="motdepasse" formControlName="motdepasse">
              <small class="form-text text-muted" *ngIf="registerF.get('motdepasse')?.touched && registerF.get('motdepasse')?.invalid" style="color: red !important;">Mot de passe est requis.</small>
            </div>
            <div class="input-box">
              <span class="details">Confirmer mot de passe *</span>
              <input type="password" placeholder="Confirmer votre mot de passe" name="cfmotpasse" id="cfmotpasse" formControlName="cfmotpasse">
              <small class="form-text text-muted" *ngIf="registerF.get('cfmotpasse')?.touched && registerF.get('cfmotpasse')?.invalid" style="color: red !important;">Confirmer mot de passe est requis.</small>
              <small class="form-text text-muted" *ngIf="registerF.hasError('passwordMismatch')" style="color: red !important;">Le mot de passe et la confirmation du mot de passe ne correspondent pas.</small>
            </div>
          </div>
          <div class="button" >
            <input type="submit"  value="Ajouter">
          </div>
        </form>
      </div>
        <div class="mt-5">
          <div class="input-group rounded" style="margin-bottom: 5px; margin-left: 4px; width: 50%;">
            <input type="search"  name="search"  [(ngModel)]="searchText" class="form-control rounded" placeholder="Chercher étudiant" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search" ></i>
            </span>
          </div>
          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Numéro Apogée</th>
                  <th>Email</th>
                  <th>Mot de passe</th>
                  <th>Confirmer mot de passe</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                  
                </tr>
              </thead>
              <tbody class="tbody" >
                <tr *ngFor="let student of studentDetails | filter:searchText">
                  <td>{{student.nom}}</td>
                  <td>{{student.prenom}}</td>
                  <td>{{student.num}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.motdepasse}}</td>
                  <td>{{student.cfmotpasse}}</td>
                  <td><button mat-raised-button type="button" color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="edit(student)">Modifier</button></td>
                  <td><button mat-raised-button type="button" color="warn"  data-bs-toggle="modal" data-bs-target="#exampleModal0" (click)="supp(student)">Supprimer</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mise à jour d'un étudiant</h5>
              </div>
              <div class="modal-body">
                <form [formGroup]="updateF" (ngSubmit)="updateStudent()">
                  <div class="form-group">
                    <label for="nom">Nom *</label>
                    <input type="text"  #nom [(ngModel)]="studentToUpdate.nom" name="nom" id="nom"
                      class="form-control" placeholder="Entrer votre Nom" formControlName="nom" id="nom" name="nom">
                      <small class="form-text text-muted" *ngIf="updateF.get('nom')?.touched && updateF.get('nom')?.invalid" style="color: red !important;">Nom est requis.</small>
                  </div>
                  <div class="form-group">
                    <label for="prenom">Prénom *</label>
                    <input type="text" #prenom [(ngModel)]="studentToUpdate.prenom" name="prenom" id="name" class="form-control"
                      placeholder="Entrer votre Prenom" formControlName="prenom">
                      <small class="form-text text-muted" *ngIf="updateF.get('prenom')?.touched && updateF.get('prenom')?.invalid" style="color: red !important;">Prénom est requis.</small>
                  </div>
                  <div class="form-group">
                    <label for="num">Numéro Apogée *</label>
                    <input type="number" #num [(ngModel)]="studentToUpdate.num" name="num" id="num" class="form-control"
                      placeholder="Entrer votre Numéro Apogée " formControlName="num" [class.is-invalid]="updateF.get('num')?.touched && updateF.get('num')?.errors?.sixDigits">
                      <small class="form-text text-muted" *ngIf="updateF.get('num')?.touched && (updateF.get('num')?.errors?.huitDigits || updateF.get('num')?.invalid)" style="color: red !important;">Numéro apogée est requis.</small>
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" #email [(ngModel)]="studentToUpdate.email" name="email" id="email" class="form-control"
                     placeholder="Entrer votre Email"formControlName="email"
                     pattern="^[a-zA-Z0-9._%+-]+@\etu\.uae\.ac\.ma$">
                   <small class="form-text text-muted" *ngIf="updateF.get('email')?.touched && updateF.get('email')?.invalid && !updateF.get('email')?.errors?.['pattern']" style="color: red !important;">Email est requis.</small>
                   <small class="form-text text-muted" *ngIf="updateF.get('email')?.touched && updateF.get('email')?.errors?.['pattern']" style="color: red !important;">Email invalide.</small>
                  </div>
                  <div class="form-group">
                    <label for="motdepasse">Mot de passe *</label>
                    <input type="password" #motdepasse [(ngModel)]="studentToUpdate.motdepasse" name="motdepasse" id="motdepasse"
                      class="form-control" placeholder="Entrer votre Mot de passe" formControlName="motdepasse">
                      <small class="form-text text-muted" *ngIf="updateF.get('motdepasse')?.touched && updateF.get('motdepasse')?.invalid" style="color: red !important;">Mot de passe est requis.</small>
                  </div>
                  <div class="form-group">
                    <label for="cfmotpasse">Confirmer mot de passe *</label>
                    <input type="password" #cfmotpasse [(ngModel)]="studentToUpdate.cfmotpasse" name="cfmotpasse" id="cfmotpasse"
                      class="form-control" placeholder="Confirmer votre Mot de passe" formControlName="cfmotpasse">
                      <small class="form-text text-muted" *ngIf="updateF.get('cfmotpasse')?.touched && updateF.get('cfmotpasse')?.invalid" style="color: red !important;">Confirmer mot de passe est requis.</small>
                      <small class="form-text text-muted" *ngIf="updateF.hasError('passwordMismatch')" style="color: red !important;">Le mot de passe et la confirmation du mot de passe ne correspondent pas.</small>
                  </div>
                  <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <input type="submit" data-bs-dismiss="modal" [disabled]="!updateF.valid" value="Modifier" class="btn btn-warning">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal fade" id="exampleModal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Suppression d'un étudiant</h5>
              </div>
              <div class="modal-body1">
                <form (ngSubmit)="deleteStudent()">
                  <p style="text-indent: 30px; font-size: large;"> Est-ce que vous êtes sûre ? </p>
                  <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <input position="center" data-bs-dismiss="modal" type="submit" value="Supprimer" class="btn btn-danger">
                  </div>
                </form>
              </div>             
            </div>
          </div>
        </div>
        
    </main>
    
</body>
</html>
