/* General styles */
*,
*::before,
*::after {
	padding: 0;
    margin: -0.5rem ;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
header{
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: #fff;
	background-color: #066aa4ba;
}
a {
	text-decoration: none;
	color: inherit;
}
/* General styles end*/

.container {
	max-width: 98rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1.5rem;
}
.nav-list {
	position: relative;
	display: flex;
	list-style: none;
}
.nav-item {
	min-width: 10rem;
	text-align: center;
	padding-block: 1rem;
}
.nav-link {
	text-transform: uppercase;
}
.active {
	position: absolute;
	bottom: -1rem;
	height: 2px;
	width: 10rem;
	background-color: #fff;
	transition: transform 0.25s;
}
.nav-item:nth-child(2):hover ~ .active {
	transform: translateX(10rem);
}
.nav-item:nth-child(3):hover ~ .active {
	transform: translateX(20rem);
}
.nav-item:nth-child(4):hover ~ .active {
	transform: translateX(30rem);
}


