*::before,
*::after {
	padding: 0;
	box-sizing: border-box;
}
.navbar-light .navbar-nav .nav-link
{
    color: white;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: white;
    text-decoration: underline;
	font-weight: bold;

}
.container-fluid{
	background-color: #FFA500;
	font-size: 20px;
	font-family:'Poppins', sans-serif;
	height: 5%;
	padding-block: 0.5rem;
	display: flex;
	max-width: 98rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
	margin-top: -0.5%;

}
a:hover{
	font-style: italic;
	font-weight: bold;
}
