<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <app-navbar></app-navbar>
  </header>
  <section id="container">
    <div class="container-text">
        <h1>L'Éducation Est Un Passport Pour l'Avenir Car Demain Appartient À Ceux Qui S'y Sont Préparés Aujourd'hui.</h1>
    </div>
  </section> 
  <!-- section a propos -->
   <section id="a-propos">
      <div class="presentation">
          <p class="tittle-section">Présentation</p>
          <div class="description-photo">
            <div class="desc">
                Notre site "YAS" a été crée a fin de donner un coup de main
                pour faciliter aux étudiants ses études et arrondir des ressources du cycle 
                licence fondamentale dans la Faculté des Sciences Tétouan Université Abdelmalek Essaâdi et qui sont 
                inscrits dans les différentes filières :  
                <ul>
                    <li>Sciences Mathématiques Appliquées (SMA).</li>
                    <li>Sciences Mathématiques Informatiques (SMI).</li>
                    <li>Sciences de la Matière Physique (SMP).</li>
                    <li>Sciences de la Matière Chimie (SMC).</li>
                    <li>Sciences de la Vie (SVI).</li>
                    <li>Sciences de la Terre et de l'Univers (STU).</li>
                 </ul>   
                 </div>                                              
              <img src="/assets/photos/graduation.jpg" >
              
          </div>
      </div>
      <p class="tittle-section">Suivez-nous</p>
      <div class="follow">
        <div class="icons">
            <a href="#" class="icon icon--instagram">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="#" class="icon icon--twitter">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="icon icon--facebook">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="icon icon--github">
              <i class="bi bi-github"></i>
            </a>
          </div>
        </div>
  </section>       

  
</body>
</html>  
