
/*presentation*/

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.presentation{
	margin: 0% 3% 0% 3%;
}
#container {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7),#a0a2a3ba),url("/assets/photos/study1.jpg");
    background-size: cover;
    padding: 10px 10%;
}

.container-text {
    height: calc(50vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-text h1 {
    color: #fff;
    font-size: 56px;
    text-transform: capitalize;
    font-family:'Poppins', sans-serif;
    text-align: center;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#presentation {
    height: 100vh;
    margin: 0 10%;

}
.tittle-section {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFA500;
    font-size: 25px;
}

.description-photo  {
	display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 350px;	
}

#img{
	border-radius: 20px;
	
}
#list{
	margin-top: 3%;
	margin-left: 6%;
	font-family:'Poppins', sans-serif;
	list-style: circle;	
}
.description-photo .desc {
    width: 60%;
	text-indent: 20px;
	text-emphasis-position: 10%;
	margin-top: 50px;
	font-size: 120%;
	margin-left: 2%


}



/*follow*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.follow {
	font-family:'Poppins', sans-serif;
	display: grid;
	height: 15vh;
    place-items: center;
	

}

/* ======================== */
.icons {
	display: flex;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: black;
	border-radius: 50%;
	outline: 2px solid black;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--twitter:hover {
	background-color: #1da1f2;
	outline-color: #1da1f2;
}
.icon--facebook:hover {
	background-color: #1877F2;
	outline-color: #1877F2;
}
.icon--github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}



@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}
/* Default styles */

/* Add your default styles here */

/* Media queries for different screen sizes */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
	.container-text h1 {
	  font-size: 40px;
	}
	
	.description-photo {
	  flex-direction: column;
	  height: auto;
	}
	
	.desc {
	  width: 100%;
	  margin-top: 20px;
	  font-size: 100%;
	}
	
	#list {
	  margin-left: 0;
	}
	
	.follow {
	  height: 10vh;
	}
  }
  
  /* Medium devices (between 576px and 992px) */
  @media (min-width: 576px) and (max-width: 992px) {
	.container-text h1 {
	  font-size: 48px;
	}
	
	.description-photo {
	  height: auto;
	}
	
	.desc {
	  margin-top: 20px;
	}
	
	#list {
	  margin-left: 0;
	}
	
	.follow {
	  height: 10vh;
	}
  }
  
  /* Large devices (992px and above) */
  @media (min-width: 992px) {
	.container-text h1 {
	  font-size: 56px;
	}
	
	/* Add any additional styles for larger screens here */
  }
  