<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrement</title>
</head>
<header>
  <app-navbar></app-navbar>

</header>
<body>
  <div class="container">
    <div class="title">S'inscrire</div>
    <div class="content">
      <form action="#"  [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="user-details">
          <div class="input-box"  >
            <span class="details">Nom </span>
            <input type="text" type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"  placeholder="Entrer votre nom"   name="nom" id="nom"  required> 
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">nom is required</div>
          </div>
          </div>
          <div class="input-box" >
            <span class="details">Prénom</span>
            <input type="text" placeholder="Entrer votre prénom" formControlName="prenom" class="form-control" [ngClass]="{'is-invalid': submitted && f.prenom.errors }"   name="prenom" id="prenom" required>
            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
              <div *ngIf="f.prenom.errors.required">prenom is required</div>
          </div>
            
          </div>
          <div class="input-box" >
            <span class="details">Email</span>
            <input type="email" placeholder="Entrer votre email" formControlName="email" name="email" id="email" required>
          </div>
          <div class="input-box" >
            <span class="details">Numéro apogée</span>
            <input type="number" placeholder="Entrer votre numéro apogée"  formControlName="num" class="form-control" [ngClass]="{'is-invalid': submitted && f.num.errors }"  name="num" id="num" required>
            <div *ngIf="submitted && f.num.errors" class="invalid-feedback">
              <div *ngIf="f.num.errors.required">Num is required</div>
              <div *ngIf="f.num.errors.minlength">Num must be 6 numbers</div>
          </div>
          </div>
          <div class="input-box" >
            <span class="details">Mot de passe</span>
            <input type="password" placeholder="Entrer votre mot de passe" formControlName="motdepasse" class="form-control" [ngClass]="{'is-invalid': submitted && f.motdepasse.errors }"   name="motdepasse" id="motdepasse" required>
            <div *ngIf="submitted && f.motdepasse.errors" class="invalid-feedback">
              <div *ngIf="f.motdepasse.errors.required">Password is required</div>
              <div *ngIf="f.motdepasse.errors.minlength">Password must be at least 6 characters</div>
          </div>
          </div>
          <div class="input-box" >
            <span class="details">Confirmer mot de passe</span>
            <input type="password" placeholder="Confirmer votre mot de passe" formControlName="cfmotpasse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cfmotpasse.errors }" name="cfmotpasse" id="cfmotpasse" required >
            <div *ngIf="submitted && f.cfmotpasse.errors" class="invalid-feedback">
              <div *ngIf="f.cfmotpasse.errors.required">Confirm Password is required</div>
              <div *ngIf="f.cfmotpasse.errors.mustMatch">Passwords must match</div>
          </div>
          </div>
        </div>
        <div class="button" >
          <input type="submit"  value="S'inscrire" >
        </div>
        <div class="signup-link">  <a routerLink="/login">Se connecter</a></div>
      </form>
      
    </div>
  </div>

  
</body>
</html>