<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOIX DES FILIERES</title>
</head>
<body>
    <header>
        <app-navbar3></app-navbar3>
    </header>
    <main>
        <section>
			<div class="table">
				<div class="table__item">
                    <figure class="card" routerLink="#" >
                        <img src="../../../assets/photos/math.jpg" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h2 class="card__title">Sciences Mathématiques Appliquées (SMA) </h2> 
                        </figcaption>
                    </figure>
				</div>
                <div class="table__item">
                    <figure class="card" routerLink="#" >
                        <img src="../../../assets/photos/phy.png" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h2 class="card__title">Sciences de la Matière Physique (SMP) </h2> 
                        </figcaption>
                    </figure>
				</div>
                <div class="table__item">
                    <figure class="card" routerLink="#" >
                        <img src="../../../assets/photos/st.png" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h2 class="card__title">Sciences de la Terre et de l'Univers (STU)</h2>        
                        </figcaption>
                    </figure>
				</div>
                <div class="table__item">
                    <figure class="card" routerLink="/semestre" >
                        <img src="../../../assets/photos/info.png" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h2 class="card__title">Sciences Mathématiques Informatiques (SMI) </h2> 
                        </figcaption>
                    </figure>

				</div>

                <div class="table__item">
                    <figure class="card" routerLink="#" >
                        <img src="../../../assets/photos/chimie.png" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h2 class="card__title">Sciences de la Matière Chimie (SMC) </h2> 
                        </figcaption>
                    </figure>
				</div>
                <div class="table__item">
                    <figure class="card" routerLink="#" >
                        <img src="../../../assets/photos/sv.png" alt="" class="card__image" />
                        <figcaption class="card__body">
                        <h3 class="card__title">Sciences de la Vie <br> (SVI) </h3> 
                        </figcaption>
                    </figure>
				</div>

			</div>
		</section>
        
       
    </main>
    
</body>
</html>
