<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Drop-down Menu Bar</title>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo" ><a routerLink="/logina">
            <img src="../../../assets/photos/yas Png.png" width="153px" height="70px" id=logo alt="Logo image" style="margin-left: -60px;margin-top: -5px;" />
           </a>
         </div>
         <label for="btn" class="icon">
         <span class="fa fa-bars"></span>
         </label>
         <input type="checkbox" id="btn">
         <ul>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/archicourp" >COURS</a></li>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/architdpp" >TD\TP</a></li>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/archiexamp" >EXAMENS</a></li>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/" >DECONNEXION</a></li>
            <li>
               <label for="btn-1" class="show"></label>
               <a href="#"></a>
               <input type="checkbox" id="btn-1">
            </li>        
         </ul>
      </nav>
      <script>
         $('.icon').click(function(){
           $('span').toggleClass("cancel");
         });
      </script>
     
   </body>
</html>


