<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Se connecter</title>
</head>
  <header>
    <app-navbar></app-navbar>
  </header>
  <body>
      <div class="wrapper">
        <div class="title">Se connecter</div>
        <form #loginform="ngForm" (ngSubmit)="loginProf()" action="#">
          <div class="field">
            <input type="email" [(ngModel)]="prof.email" id="email" name="email" >
            <label>Adresse email</label>
          </div>
          <div class="field">
            <input type="password" [(ngModel)]="prof.motdepasse" id="motdepasse" name="motdepasse" >
            <label>Mot de passe</label>
          </div>
          <div class="content">
            <div class="pass-link"><a routerLink="/mpoublier">Mot de passe oublié ?</a></div>
          </div>
          <div class="field">
            <input type="submit" value="Se Connecter">
          </div>
        </form>
      </div>
    
 </body>

</html>