<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Se connecter</title>
</head>
  <header>
    <app-navbar></app-navbar>
  </header>
  <body>
      <div class="wrapper">
        <div class="title">Se connecter</div>
        <form [formGroup]="loginPF" (ngSubmit)="loginProf()" action="#">
          <div class="field">
            <input type="email" [(ngModel)]="prof.email" id="email" name="email" formControlName="email">
            <small class="form-text text-muted" *ngIf="loginPF.get('email')?.touched && loginPF.get('email')?.invalid && !loginPF.get('email')?.errors?.['pattern']" style="color: red !important;">Email est requis.</small>
            <label>Adresse email *</label>
          </div>
          <div class="field">
            <input type="password" [(ngModel)]="prof.motdepasse" id="motdepasse" name="motdepasse" formControlName="motdepasse">
            <small class="form-text text-muted" *ngIf="loginPF.get('motdepasse')?.touched && loginPF.get('motdepasse')?.invalid" style="color: red !important;">Mot de passe est requis.</small>
            <label>Mot de passe *</label>
          </div>
        <!-- <div class="content">
            <div class="pass-link"><a routerLink="/mpoublier">Mot de passe oublié ?</a></div>
          </div>--> 
          <div class="field">
            <input type="submit" value="Se Connecter">
          </div>
        </form>
      </div>
    
 </body>

</html>